@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

@bg-color: #D1C8B6;
@darker-bg: #948F88;
@gray: #6E6E6E;



* {
  margin: 0 auto;
  font-family: 'Sen', sans-serif;
}

h1 {
    margin: 10px;
    font-size: 10px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#side-bar {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 30px;
  height: 100vh;

  ul {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    li {
      margin: 50px 0 50px 10px;
      text-align: left;
      transition: 0.5s;

      a {
        margin-left: 20px;
        color: black;
        text-decoration: none;
        transition: 0.5s;
      }

      a:hover {
        padding-left: 10px;
        transition: 0.5s;
      }

      p {
        text-align: left;
        margin: 0;
        height: 1px;
        width: 60px;
        border-bottom: black solid 1px;
      }
    }
  }
}

#outer-frame {
  padding: 0 30px 0 30px;
}

#intro {
  background-color: @bg-color;

  #hello-box {
    width: 100%;
    height: 30vh;
    position: relative;

    h2 {
      position: absolute;
      top: -8vw;
      left: -5px;
      z-index: 50;
      color: white;
      font-weight: bold;
      font-size: 35vw;
      text-align: left;
    }

    p {
      position: absolute;
      top: 300px;
      right: 60px;
      z-index: 70;
      text-align: left;
      line-height: 25px;
    }
  }

  #portrait {
    position: relative;
    z-index: 60;

    img {
      width: 90%;
      text-align: center;
      display: block;
    }
  }
}

.card {
  padding: 150px 80px;
  position: relative;

  div {
    text-align: left;
    position: relative;
    z-index: 55;

    h2 {
      font-size: 80px;
    }
  }
}

#about-card {
  div {
    p {
      margin: 40px;
    }

    a {
      background-color: black;
      color: white;
      text-transform: uppercase;
      letter-spacing: 3px;
      text-decoration: none;
      font-weight: bold;
      font-size: 10px;
      padding: 15px 20px;
      border-radius: 50px;
      border: black solid 2px;
      transition: 0.5s;
    }

    a:hover {
      background-color: white;
      color: black;
      transition: 0.3s;
    }
  }

  img {
    position: absolute;
    top: 100vh;
    right: 60px;
    z-index: 54;
    height: 70%;
  }
}

#expiriences-card {
  background-color: @bg-color;
  color: white;

  div {
    h2 {
      padding: 5px 10px;
      text-align: left;
    }

    #experiences {
      width: fit-content;

      .job {
        margin-top: 80px;
        text-align: right;

        .right-block{
          text-align: left;
          float: right;

          h3 {
            display: block;
            padding: 10px;
            margin: 0;
            background-color: @gray;
            color: white;
            font-size: 30px;
            text-transform: uppercase;
            width: fit-content;
          }
        }

        .left-block {
          float: left;
          margin-right: 40px;

          .year {
            text-align: right;
            font-size: 15px;
            font-weight: bold;
            color: black;
            margin-bottom: 20px;
          }

          .company {
            text-align: right;
            font-weight: bold;
            margin: 0 0 10px 15px;
          }

          .desc {
            text-align: right;
          }
        }
      }
    }
  }
}

#contact {
  background-color: black;

  h2 {
    color: white;
  }
}